/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
    --background-color: #b68b4b;
}

body {
    background-color: var(--background-color);
}

/* Estilos para el contenido de las páginas */
ion-content {
  --background: transparent;
}

/* Mejoras para la tipografía */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: var(--ion-color-dark);
}